body{
    background-color: lightpink;
}

h1{
    text-align: left;
    font-family: Herculanum;
    font-size: 66px;
}

#nav ul{
    list-style: none;
    /*no space between ul and nav div/*/
    margin: 0;
    padding: 0;
    background-color: lightcoral;
    font-size: 33px;
}

#nav li{
    /*move-text*/
    text-align: center;

    border-bottom: purple solid 10px;

    /*move all items in to one list*/
    display: inline;
}

#nav li a{
    color: saddlebrown;
    margin: 66px;
    text-decoration: none;
}

#nav li a:hover{
    background-color: hotpink;
    font-size: 33px;
    font-style: oblique;
}

#nav li img{
    width: 50px;
    height: 50px;
}

/*!*animation*/
/*firstly div setups*/
#animation{
    width: 1500px;
    height: 50px;
    text-align: center;
    background-color: hotpink;
/*    thirdly set up animation*/
    animation-name: firstAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*secondly create keyframes*/
@keyframes firstAnimation {
/*    in keyframe we will change from ... to ...*/
    from {background-color: hotpink}
    to {background-color: mediumspringgreen}
}

#animation2{
    width: 1500px;
    height: 50px;
    text-align: center;
    animation-name: secondAnimation;
    background-color: hotpink;
    animation-iteration-count: infinite;
    animation-duration: 20s;

}

@keyframes secondAnimation {
    8% {background-color: mediumvioletred; left: 0px; top: 0px; font-size: 15px;}
    28%{background-color: darkblue}
    48%{background-color: mediumpurple}
    68%{background-color: lightpink}
    100%{background-color: aqua}

}

#footer{
    text-align: right;

}